{% extends "base.html.jinja" %}

{% block content %}
<h1>{{ title }}</h1>

{% set known_roles = ['gloss', 'translation', 'base_text'] %}

{% for sentence in sentences %}
<div class="sentence-block">

  {% if 'gloss' in sentence %}
  <p class="sentence">
    {% for token in sentence.gloss %}
      <span class="glossed-token" data-gloss="{{ token.annotation.gloss }}" data-form="{{ token.text }}">{{ token.text }} </span>
    {% endfor %}
  </p>
  {% endif %}

  {% if 'translation' in sentence %}
  <p><i>Translation</i>: {{ sentence.translation.annotation.translation }}</p>
  <details class="note">
    <summary>See notes</summary>
    <span>{{ sentence.translation.annotation.notes }}</span>
  </details>
  {% endif %}

  {% for key, value in sentence.items() %}
    {% if key not in known_roles %}
    <details class="note">
      <summary>{{ key }}</summary>
      <pre class="annotation-raw">{{ value | tojson(indent=2) }}</pre>
    </details>
    {% endif %}
  {% endfor %}

</div>
<br>
{% endfor %}

{% endblock %}
